.Parthner_styles img {
    width: 100px;
    max-width: 100px;
    margin: 0 10em;
}

.Parthner_styles {
    padding: 0.4em 0;
    margin: 5em 0 -1em;
}

.Parthner_styles div {
    background-color: white;

}