@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */

body {


  background: linear-gradient(74.18deg, #99A6D5 3.97%, #5B75FE 101.42%);
  border-radius: 16px;
  font-family: "Urbanist";
  flex: none;
  order: 0;
  flex-grow: 0;
  /* background-image: url("./assets/images/bg_circular_lines.png"); */

}

img {
  height: auto;
  width: auto;
}

h1,
p,
h2,
h4 {
  margin: auto;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

button {
  appearance: auto;
  font-style: normal;
  color: unset;
  cursor: default;
  box-sizing: border-box;
  background-color: unset;
  margin: 0em;
  padding-block: 0;
  padding-inline: 0;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: unset;
}