.Homepage {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 8em 0 0;
    flex-wrap: wrap;
    height: 100%;
}

.exporeH2 {
    width: 624px;
    font-family: "Urbanist";
    font-style: normal;
    font-weight: 600;
    font-size: 78px;
    line-height: 95%;
    /* or 65px */
    text-align: center;
    letter-spacing: -2.4px;

    background: linear-gradient(104.64deg,
            rgba(255, 255, 255, 0.9) 31.77%,
            rgba(255, 255, 255, 0.58) 130.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.exporeH1 {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 92px;
    line-height: 100%;

    text-align: center;
    /* Gradient 03 */
    background: linear-gradient(121.52deg,
            #fff4d7 -22.23%,
            rgba(218, 222, 251, 0.982854) 49.03%,
            rgba(216, 255, 220, 0.972567) 91.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.center_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore_P {
    /* Text Block */

    width: 60%;
    font-family: "Urbanist";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    /* or 28px */
    text-align: center;
    letter-spacing: -0.32px;

    color: rgba(255, 255, 255, 0.7);

    padding: 1em;
}

.button_div {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em 0 0;
}

.button_div button {
    padding: 16px 12px;
}

.button_div .button_login {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    background: linear-gradient(180deg, #245fff 0%, rgba(36, 95, 255, 0.88) 100%);
    border-radius: 12px;
    margin: 0.5em;
}


.button_div .button_open {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 12px;
    background: linear-gradient(173.55deg,
            #ffffff 1.62%,
            rgba(255, 255, 255, 0.83) 141.51%);
    border-radius: 12px;
    margin: 0.5em;
}

.button_open img {
    width: 20px;
    padding: 0.1em;
}

.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 16px 8px 8px;
    width: 276px;
    height: 70px;
    background: linear-gradient(89.8deg,
            rgba(227, 233, 247, 0.51) 0.15%,
            rgba(255, 255, 255, 0.12) 100.01%);
    backdrop-filter: blur(64.2343px);
    border-radius: 400px;
    color: white;
    margin: 4em 0;
    position: relative;
}

.features img {
    width: 30px;
}

.features p {
    font-size: 0.7em;
}

.features b {
    font-size: 0.75em;
}

.features h4 b {
    font-weight: normal;
    background-color: rgb(17, 221, 170);
    padding: 0.5em 1em;
    border-radius: 0.4em;
    font-weight: bold;
}

.features h4 {
    font-size: 0.8em;
    margin-top: 0.3em;

}

.features .arrowImg {
    width: 15px;
}

.features_div {
    display: flex;
    flex-direction: column;

}

.features .card_circle {
    width: 20px;
    position: absolute;
    top: 40%;
    right: -3em;
}

.features .card_circle_Left {

    width: 20px;
    position: absolute;
    top: 40%;
    left: -3em;
}

@media screen and (max-width: 1510px) {
    .Homepage {
        flex-direction: column;
        width: 100%;

    }

    .features_div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;

    }

}

@media screen and (max-width: 1000px) {
    .Homepage {
        flex-direction: column;
        width: 100%;

    }

    .features_div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        align-items: center;

    }

    .features .card_circle,
    .features .card_circle_Left {
        display: none;
    }

    .features {
        margin: 0.5em 0;
    }

    .center_text {
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 800px) {
    .exporeH2 {
        font-size: 58px;
        width: 500px;
        margin-top: 0.5em;

    }

    .center_text h1 {
        font-size: 3.5em;
    }

    .center_text p {
        width: 70%;
        font-size: 1em;
    }

}


@media screen and (max-width: 506px) {
    .exporeH2 {
        width: 390px;
        font-size: 55px;

    }


}

@media screen and (max-width: 400px) {
    .exporeH2 {
        font-size: 39px;
        width: 300px;
    }

    .center_text h1 {
        font-size: 2.5em;
    }

    .center_text p {
        width: 90%;
        font-size: 1em;
    }
}

@media screen and (max-width: 410px) {
    .button_div {
        flex-direction: column;
    }

}

@media screen and (max-width: 300px) {
    .exporeH2 {
        font-size: 39px;
        width: 100%;
    }


}